html {
    font-family: 'Jost', sans-serif;

    width: 100vw;
    height: 100vh;
}

body{
    background-color: #696D7D;
   
    
}



.grid-container{
    display: grid;
    grid-template-rows: 300px;
    justify-items: center;
    grid-column: auto;
    place-content: center;

    gap: 20px;
}


.back{
    border: solid 2px black;
    background-color: lightblue;
    font-size: 15px;
    width: 100px;
    letter-spacing: 4px;
    display: grid;
    text-align: center;
    margin-left: 45cm;
  
}
.back:hover{
    cursor: pointer;
    color: white;
    transform: translateX(-10px);
}


h1{
   width: 800px;
    text-align: center;
    border: solid 2px black;
    background-color: #9CC4B2;
    border-radius: 50px;
    font-size: 80px;
    text-decoration: underline 8px #696D7D ;
    
}

h2{
    font-size: 100px;
    text-align: center;
}



.passengercnt{
    border: solid 2px black;
    background-color: lime;
    font-size: 25px;
    width: 400px;
    letter-spacing: 4px;
    display: grid;
    grid-template-columns: 400px ;
    border-radius: 50px;

    
 
}


.passengercnt:hover{
    cursor: pointer;
    color: white;
    background-color: green;
}

.passengercnt:active{
    transform: translateY(4px);
}






.reset{
    border: solid 2px black;
    background-color: darkred;
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    width: 400px;
    letter-spacing: 4px;
    display: grid;
    grid-template-columns: 400px ;
    border-radius: 50px;

    
    
 
}


.reset:hover{
    cursor: pointer;
    color: white;
    background-color: red;
}

.reset:active{
    transform: translateY(4px);
}























