*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Teko', sans-serif;
}

.borders {
    display: flex;
    align-items: center;
    place-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
    color: #fff;  
    background: #588B8B;
    background-size: 100% 100%;
    overflow: hidden;
    box-shadow: 0 0 25px #588B8B;
}
section {
  width: 100%;
  height: 100vh;
  color: #fff;  
  display: flex;
  place-items: center;
  align-content: center;
  flex-direction: column;
  background: linear-gradient(190deg,#002f4b 35%, #dc4225 90% );
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;

}

h1{
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    border:4px solid #fff;
    padding: 4rem 8rem;
    font-family: 'Teko', sans-serif;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;


}


.discord_logo {
    display: flex;
    align-content: center;
    place-items: center;
    margin-top: 20px;
    height: 100px;
    
}


.ytlogo{
width: 4cm;
height: 4cm;
margin-top: 20px;
}
@keyframes change  {

    0% {
         background-position: 0 50%;
    } 
    50%{
        background-position: 100% 50%;
    } 
    100%{
        background-position: 0 50%;
    } 
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{

    height: 100vh;
    width: 250px;
    height: 60px;
    font-family: 'roboto', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #FFF;
    border: none;
    border-radius:45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;

    



}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-2px);
}












